{% extends 'base.html' %}
{% block title %}
<title>Про магазин</title>
{% endblock %}
{% block body %}
<div class="container">
    <h1>О нашем сайте</h1>
    <p>Сайт был сделан в познавательных целях</p>
    <p>Почта для связи с разработчиком: vostrikovatatiana06@yandex.ru </p>
    <p>Над сайтом работали: vostrikovatatiana06@yandex.ru</p>
    <p><a href=mailto:ivan@sample.com?subject="текст">Написать нам</a></p>
    <a href="https://eda.yandex.ru/saratov?shippingType=delivery">Заказать продукты можно тут</a>
</div>
{% endblock %}
